@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    --main: #
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

#list {
    width: 50vw;
}

#form {
    height: 100vh;
    width: 50vw;
    background-color: #1A476E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list--container {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
}

.list--container .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: pink;
    margin-bottom: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.list--container .list-item[data-remove="remove"] {
    transform: scale(0);
    transition: 0.3s cubic-bezier(.25,.8,.25,1);
}

.list--container .list-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.list--container .list-item > img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.list--container .list-item > .list-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list--container .list-item > .list-close > i.material-icons {
    font-size: 28px;
}


input[type="text"], select, button {
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1em;
    outline: none;
    border: none;
    transition: all 300ms ease-in-out;
}

input[type="text"]:focus {
    background-color: #1A476E;
    color: #fff;
}

input[type="text"]::placeholder {
    color: #C7DBED;
}

input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0 0 0.5em 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: background-color 300ms cubic-bezier(.25,.8,.25,1);
}

input[type="radio"]:checked {
    background-color: #87D48D;
    box-shadow: 0 0 0;
}

input[type="radio"]:focus {
    outline: none;
}

.form--container {
    width: 50%;
    padding: 2em;
    border-radius: 5px;
    background-color: #C7DBED;
    color: #1A476E;
}

.form--container h1 {
    font-size: 2em;
    font-weight: 900;
    margin: 0 0 32px 0;
    position: relative;
    left: -32px;
    top: 0;
    display: inline-block;
    padding: 0.5em 2em 0.5em 1em;
    background-color: #fff;
    color: #1A476E;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

form {
    display: flex;
    flex-direction: column;
}
.form-radio {
    width: 70%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

p.form-error {
    padding: 0;
    margin: 0 0 15px 0;
    color: #92A0AD;
    font-style: italic;
    text-align: center;
}

label {
    font-size: 1.2em;
    font-weight: 700;
}


label[for="person"], label[for="content"] {
    margin: 1em 0 0.5em 0;
}

button {
    width: 50%;
    margin: 1em auto;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    background-color: #87D48D;
    color: #1A476E;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 0;
    width: 35vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
    transition-delay: 300ms;
    transition-property: top;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: translate(-50%, -100%);
}

.modal.show {
    top: 20vh;
    transition-delay: 300ms;
    transition-property: top;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.modal-content {
    padding: 1em;
    background-color: #87D48D;
    color: #1A476E;
    font-size: 1.5em;
    font-weight: 700;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal-content p {
    padding: 0;
    margin: 0;
}