@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap');

body {
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

    .inner {
        background-color: #00B6FF;
        padding: 1em;
        border-radius: 0.5em;
        width: 400px;
        clip-path: circle(1.5em at 90% 30%);
        transition: all 500ms ease-in-out;
        cursor: pointer;
        &:hover {
            clip-path: circle(75%);
            background-color: red;
        }
        h1 {
            color: #fff;
            margin: 0;
        }

        p {
            color: #fff;
        }


    }

